@font-face {
  font-family: 'sans';
  src: url('../fonts/Vazir-Medium.ttf');
}
*{
  font-family: 'sans';
  direction: rtl;
}
a{
  text-decoration: none;
  color: black;
}
.offcanvas-start{
  width: 220px!important;
}